<!-- Document navigation shows the table of contents of a book and on the page. This navigation bar will only show on small screen. For larger screen, we use left table of conetns and right table of contents.-->

{% assign content=include.content %}
{% assign sanitize=include.sanitize %}
{% assign left-toc=include.left-toc %}

<nav class="d-md-none navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      {% if page.left-toc %}
        <button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#leftToC" aria-controls="leftToC" aria-expanded="false" aria-label="Toggle navigation">
          目錄
        </button>
        <div class="collapse navbar-collapse" id="leftToC" aria-labelledby="left-toc-button">
          {% include left-toc.html left-toc=left-toc %}
        </div>
      {% endif %}

      {% if page.right-toc %}
        <button class="btn btn-primary navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#rightToC" aria-controls="rightToC" aria-expanded="false" aria-label="Toggle navigation">
          On this page
        </button>
        <div class="collapse navbar-collapse" id="rightToC" aria-labelledby="right-toc-button">
          {% include right-toc.html html=content sanitize=sanitize %}
        </div>
      {% endif %}
    </div>
  </div>
</nav>