{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.data %}
  <script src="{{ '/assets/js/divmover.js' | relative_url }}"></script>
{% endif %}

{% if page.foot-package %}
  {% for plugin in page.foot-package %}
    {% include {{ plugin.file }} parameter=plugin %}
  {% endfor %}
{% endif %}

{% if site.foot-package %}
  {% for plugin in site.foot-package %}
    {% assign local-parameter=page[plugin.module] %}
    {% include {{ plugin.file }} src=plugin.src local-parameter=local-parameter %}
  }
  {% endfor %}
{% endif %}