<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Styles -->
  <link rel="stylesheet" href="https://ashki23.github.io/styles.css">
  <script type="text/javascript" src="/js/highlightjs/highlight.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/plaintext.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/powershell.min.js"></script>
  <script type="text/javascript" src="/js/highlightjs/languages/tsql.min.js"></script>
  <script type="text/javascript"> hljs.highlightAll(); </script>
  <!-- end highlight.js support -->
  <script type="text/x-mathjax-config">
</head>