{% assign left_toc = left-toc %}
{% assign in_nav = in_nav %}

{% macro toc_list(content, level=0) %}
  <ul class="list-unstyled mb-0 py-3 pt-md-1" style="margin-left: {{ level }}rem">
    {% for item in content %}
      <li>
        <a href="{{ item.url | relative_url }}">
          {% if level == 0 %}&#8226;{% elif level == 1 %}&bull;{% else %}&minus;{% endif %}
          {{ item.title }}
        </a>
        {% if item.content %}
          {{ toc_list(item.content, level+1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}

{% if left_toc %}
  {% if in_nav %}
    <div class="d-flex flex-column">
      {{ toc_list(left_toc.content) }}
    </div>
  {% else %}
    <div class="d-flex flex-column">
      {{ toc_list(left_toc.content) }}
    </div>
  {% endif %}
{% endif %}