{% if site.matomo %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.0.2/add-html-label-3fd8c466.min.js" integrity="sha512-7EiTjiXeiTplBEUKk7WzdY8ok/4D2PrwERajr4AwBjLPgLrCdeOwlU8KWLSTWqkbglqwcjJ8eApFol9fRYxGMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $(document).ready(function () {
      mermaid.initialize({
        startOnLoad:true,
        theme: "default",
      });
      window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
    });
  </script>
{% endif %}