.theorem {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(222,222,231);
  box-shadow: 5px 10px 8px #888888;
}
/*.theorem::before {
  content: "Theorem. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
  text-align: left;
}*/
.theorem-header {
  font-weight: bold;
  font-style: normal;
  display: block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
  text-align: left;
}
.theorem-header::before {
  content: "Theorem";
  margin-right: 6px;
}
.theorem-authors {
  font-weight: normal;
  font-style: italic;
  margin-left: 8px;
}
.theorem p {
  padding: 15px 15px 15px 15px;
}
.example {
  display: block;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(222, 222, 231);
  box-shadow: 5px 10px 8px #888888;
}
.example::before {
  content: "Example. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(64, 142, 156); 
  text-align: left;
}

.example p {
  padding: 15px 15px 15px 15px;
}
.definition {
  display: block;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(219, 233, 252);
  box-shadow: 5px 10px 8px #888888;
}
.definition::before {
  content: "Definition. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(37, 124, 189);
  text-align: left;
}
.definition p {
  padding: 15px;
}
.collorary {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(190, 150, 220);
  box-shadow: 5px 10px 8px #888888;
}
.collorary::before {
  content: "Collorary. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(80, 20, 120);
  text-align: left;
}

.collorary p {
  padding: 15px;
}
.lemma {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(211, 227, 255);
  box-shadow: 5px 10px 8px #888888;
}
.lemma::before {
  content: "Lemma. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(0, 51, 204);
  text-align: left;
}
.lemma p {
  padding: 15px 15px 15px 15px;
}

.conjecture {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(255, 230, 211); /* Adjusted background color for conjecture */
  box-shadow: 5px 10px 8px #888888;
}

.conjecture::before {
  content: "Conjecture. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(204, 51, 0); /* Adjusted background color for conjecture */
  text-align: left;
}

.conjecture p {
  padding: 15px 15px 15px 15px;
}

.proposition {
  display: block;
  font-style: italic;
  font-size: 24px;
  font-family: "Times New Roman";
  color: black;
  border-radius: 10px;
  background-color: rgb(255, 230, 211); /* Adjusted background color for conjecture */
  box-shadow: 5px 10px 8px #888888;
}

.proposition::before {
  content: "Proposition. ";
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(204, 51, 0); /* Adjusted background color for conjecture */
  text-align: left;
}

.proposition p {
  padding: 15px 15px 15px 15px;
}