---
layout: base
---

{% assign left-toc = site.data.book[page.book] %}

{% include header.html type="page" %}

<div class="container-xxl my-md-4 bd-layout" role="main">
  <div class="row">

    {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="container">
      <div class="row">
        {% if page.left-toc %}
        <nav class="col-md-2 d-none d-md-block collapse" aria-label="Left TOC">
          <div class="position-sticky" style="top: 4rem;">
            <strong class="d-block h6 my-2 pb-2 border-bottom">Content</strong>
            {% include left-toc.html left-toc=left-toc %}
          </div>
        </nav>
        {% endif %}

        <main class="col-md-7">
          <article class="markdown-body">
            {{ content }}
          </article>
        </main>

        {% if page.right-toc %}
        <nav class="col-md-4 d-none d-md-block collapse" aria-label="Right TOC">
          <div class="position-sticky" style="top: 4rem;">
            <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
            {% include right-toc.html html=content %}
          </div>
        </nav>
        {% endif %}
      </div>
    </div>
    
    {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    {% include comments.html %}
  </div>
</div>
