---
layout: base
---

{% assign left-toc = site.data.book[page.book] %}

{% include header.html type="page" %}

<div class="container-xxl my-md-4 bd-layout" role="main">
  <div class="row">

    {% if page.before-content %}
      <div class="before-content">
        {% for file in page.before-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-md-3 d-none d-md-block">
          {% if page.left-toc %}
          <nav class="position-sticky" style="top: 4rem;">
            <strong class="d-block h6 my-2 pb-2 border-bottom">Content</strong>
            {% include left-toc.html left-toc=left-toc %}
          </nav>
          {% endif %}
        </div>

        <main class="col-md-6">
          <article class="markdown-body">
            {{ content }}
          </article>
        </main>

        <div class="col-md-3 d-none d-md-block">
          {% if page.right-toc %}
          <nav class="position-sticky" style="top: 4rem;">
            <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
            {% include right-toc.html html=content %}
          </nav>
          {% endif %}
        </div>

        <!-- Show/hide nav on small screens -->
        <div class="col-12 d-sm-block d-md-none">
          {% if page.left-toc or page.right-toc %}
          <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Table of contents
            </button>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              {% if page.left-toc %}
              <h6 class="dropdown-header">Content</h6>
              {% include left-toc.html left-toc=left-toc %}
              {% endif %}

              {% if page.right-toc %}
              <h6 class="dropdown-header">On this page</h6>
              {% include right-toc.html html=content %}
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    
    {% if page.after-content %}
      <div class="after-content">
        {% for file in page.after-content %}
          {% include {{ file }} %}
        {% endfor %}
      </div>
    {% endif %}

    {% include comments.html %}
  </div>
</div>
